# rgm.io iceflashprog
SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{idVendor}=="16c0", ATTRS{idProduct}=="05df", ATTRS{manufacturer}=="rgm.io", ATTRS{product}=="iceflashprog", GROUP="plugdev", MODE="0660", TAG+="uaccess"
